
body, html
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #333;
    margin: 0;
    padding: 0;
}

body
{
    background: #ededed;
}

img
{
    max-width: 100%;
    height: auto;
}

.wrapper
{
    margin: 20px 40px;
    box-shadow: 0 0 2px 2px rgba(155, 155, 155, 0.1);
    border: 1px solid #d3d3d3;
}

header
{
    width: 100%;
    overflow: hidden;
    background: #92cd00;
    color: #fff;
}

.container
{
    padding: 0 20px;
    width: 95%;
    max-width: 650px;
    position: relative;
}

h1
{
    line-height: 1;
    font-weight: normal;
}

h2
{
    color: #2c6700;
    font-size: 32px;
}

hr
{
    background: #EEE;
    border: 0;
    height: 1px;
    margin: 40px 0 40px;
}

a
{
    -webkit-transition: all ease 150ms;
    -moz-transition: all ease 150ms;
    -o-transition: all ease 150ms;
    transition: all ease 150ms;
    text-decoration: none;
    color: #2c6700;
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    color: #92cd00;
}

.docs-nav
{
    background-color: #f5f5f5;
    list-style: none;
    padding: 15px 20px;
}

.docs-nav a
{
    display: block;
    margin: 0 -20px;
    padding: 0 20px;
    text-decoration: none;
}

section
{
    padding: 1px 0;
    background: #fff;
}

@media only screen and (min-width: 960px)
{
    .docs-nav
    {
        position: absolute;
        top: 0;
        width: 220px;

        -webkit-transition: top linear 50ms;
        -moz-transition: top linear 50ms;
        -o-transition: top linear 50ms;
        transition: top linear 50ms;
    }

    .docs-nav.fixed
    {
        position: fixed;
        top: 49px;
        width: 220px;
    }

    .docs-nav a:hover
    {
        background: #92cd00;
        color: #fff;
    }

    .docs-nav a:active, .docs-nav .active
    {
        background: #92cd00;
        color: #fff;
    }

    .docs-nav .separator
    {
        height: 20px;
    }

    .docs-content
    {
        padding-left: 310px;
    }

    .container
    {
        max-width: 1000px;
    }
}
